<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
</head>
<header id = "header">
    <nav class="menu">
        <ol>
            <li class="menu"><a href="/">Home</a></li>
            <li class="menu"><a href="/stocks">Stocks</a></li>
            <li class="menu"><a href="/treasury-rates">Treasury Rates</a></li>
        </ol>
    </nav>
</header>
<body>
	{{{body}}}
</body>
</html>