<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
    <script src="javascript/jquery-3.6.0.js"></script>
</head>
<header id = "header">
    <nav class="menu">
        <ol>
            <li class="menu"><a href="/">Home</a></li>
            <li class="menu"><a href="/companies">Companies</a></li>
            <li class="menu"><a href="/treasury-rates">Treasury Rates</a></li>
        </ol>
    </nav>
</header>
<body>
	{{{body}}}
</body>
</html>