<title>Welcome</title>
<br>
<div class="container">
  <div>
    <h2>The Financial Times</h2>
  </div>
  <div class="slides">
    <img class ="slideimg" src="images/federal-reserve-building.jpg">
    <div class="text">Wall Street (Source: wsj.com)</div>
  </div>

  <div class="slides">
    <img class ="slideimg" src="images/stokes_plate1_1500_512.jpg">
    <div class="text">New Amsterdam Colony (Source: newamsterdamstories.archives.nyc)</div>
  </div>

  <div class="slides">
    <img class ="slideimg" src="images/SubsectionBanner-Federal-Reserve-And-You.jpg">
    <div class="text">Federal Reserve (Source: cei.org)</div>
  </div>

  <a class="prev" onclick="moveSlides(-1)">&#10094;</a>
  <a class="next" onclick="moveSlides(1)">&#10095;</a>
</div>
<br>
<script src='javascript/carousel.js'></script>
