<title>Welcome</title>
<br>
<div class="container">

  <div class="slides">
    <img class ="slideimg" src="images/federal-reserve-building.jpg">
    <div class="text">Wall Street (Source: wsj.com)</div>
  </div>

  <div class="slides">
    <img class ="slideimg" src="images/stokes_plate1_1500_512.jpg">
    <div class="text">New Amsterdam Colony (Source: newamsterdamstories.archives.nyc)</div>
  </div>

  <div class="slides">
    <img class ="slideimg" src="images/SubsectionBanner-Federal-Reserve-And-You.jpg">
    <div class="text">Federal Reserve (Source: cei.org)</div>
  </div>

  <a class="prev" onclick="moveSlides(-1)">&#10094;</a>
  <a class="next" onclick="moveSlides(1)">&#10095;</a>
</div>
<br>

<script src='javascript/carousel.js'></script>

<div>
    <h2>Teaching financial literacy is critical because young adults are increasingly facing higher levels of debt:</h2>
    <ul>
      <li>A survey of 15-year-olds in the United States found that 18 percent of respondents did not learn fundamental financial skills that are often applied in everyday situations.</li>
      <li>High school seniors scored on average 48 percent correct on a financial literacy exam, showing a strong need for comprehensive financial education in high school curriculums.</li>
      <li>According to the National Longitudinal Survey of Youth, only 27 percent of participates could describe inflation and perform simple interest rate calculations.</li>
    </ul>
    <label><a href="https://youth.gov/youth-topics/financial-capability-literacy/facts" target="_blank">Source: youth.gov</a></label>
</div>