  <div class="interest-rates">
    <img class ="interest-rates" src="/images/Capture.png">
  </div>
<label><a href="https://www.treasury.gov/resource-center/data-chart-center/interest-rates/Pages/TextView.aspx?data=yieldYear&year=2021" target="_blank">Source: treasury.gov</a></label>
