<html>
    <h1>Treasury Rates</h1>
    <body>
        <!-- Content is blank by default -->
        <div id="content"></div>
        <script src="javascript/jquery-3.6.0.js"></script>
        <!-- Request to Scott's API for Treasury Rate data-->
        <table class="treasury-rates">
            <thead class="treasury-rates-head"></thead>
            <tbody class="treasury-rates-body"></tbody>
        </table>
        <script src="javascript/treasury-rates.js"></script>
    </body>
</html>