<title>TVM Calculator</title>
<h1>Time Value Money Calculator</h1>
<div class="calculator">
    <form>
      <div class="input">
        <label for="pv">PV:</label>
        <input type="number" name="pv" id="pv" required>
      </div>
      <div class="input">
        <label for="pmt">PMT:</label>
        <input type="number" name="pmt" id="pmt" required>
      </div>
      <div class="input">
        <label for="fv">FV:</label>
        <input type="number" name="fv" id="fv" required>
      </div>
      <div class="input">
        <label for="i">I%:</label>
        <input type="number" name="i" id="i" required>
      </div>
      <div class="input">
        <label for="n">N:</label>
        <input type="number" name="n" id="n" required>
      </div>
      <div>
        <label for="submit"></label>
        <input type="submit" class="submit" value="Calculate">
      </div>
    </form>
</div>
<div>
<h2>Key Terminology</h2>
<div class = "scrollbox">
    <div class="term">
        Present Value
    </div>
    <div class = "definition">
        The present value of the money amount at the beginning of the time period.
    </div>
    <div class="term">
        Future Value
    </div>
    <div class = "definition">
        The future value of the money amount at the end of the time period.
    </div>
    <div class="term">
        %I
    </div>
    <div class = "definition">
        The interest rate, or growth rate for the time period specified.
    </div>
    <div class="term">
        N
    </div>
    <div class = "definition">
        The number of compounding, or discounting periods depending on the calculation.
    </div>
</div>
<br>
<label><a href="https://www.consumerfinance.gov/data-research/consumer-credit-trends/credit-cards/" target="_blank">Source: consumerfinance.gov</a></label>
