<title>TVM Calculator</title>
<h1>Unit Converter</h1>
<div class="calculator">
    <form action="http://localhost:26664/unit-converter" method="post">
      <div class="input">
        <label for="g">Grams:</label>
        <input type="weight" name="weight" id="weight" required>
      </div>
      <div>
        <label for="submit"></label>
        <input type="submit" class="submit" value="Calculate">
      </div>
    </form>
</div>