
body {
    background-size: cover;
    font-family: sans-serif;
}

header {
    background-color: whitesmoke;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 75px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}


/* https://www.w3schools.com/bootstrap/bootstrap_ref_js_carousel.asp */
textarea{
    font-family: sans-serif;
    height: 80px;
    width: 300px;
}

.container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slides {
  display: none;

}

.slideimg{
    width: 100%;
    height: 300px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
    color: white;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}

/*Source: https://www.lifewire.com/light-blue-design-colors-1077399*/
.company-data-head-1, .company-data-head-2, .example-head, .even-example-row, .even-company {
    background-color: lightblue;
}

.treasury-rates-head {
    background-color: whitesmoke;
}


/* Source: https://developer.mozilla.org/en-US/docs/Web/CSS/border-collapse*/
.treasury-rates {
    border: 1px solid black;
    border-collapse: collapse;
}


#col-1, #col-2 {
    width: 48.5%;
    float: left;
    padding: 10px;
    align-content: center;

}

form {
    padding-bottom: 15px;
    padding-right: 1px;
    display: inline-block;
}

/*Source https://developer.mozilla.org/en-US/docs/Web/CSS/cursor*/
.button, .clear-1, .clear-2 {
    cursor: pointer;
}

.treasury-bullets {
    padding-bottom: 10px;
}

.link{
    padding-top: 10px;
}